@import 'tailwindcss';

@font-face {
  font-family: 'Nunito';
  src: url('/Nunito-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family:
    Nunito,
    ui-sans-serif,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial;
}

.mesh {
  background-color: #ff99d8;
  background-image:
    radial-gradient(at 33% 88%, #cd67e9 0, #0000 50%),
    radial-gradient(at 28% 16%, #78cbdd 0, #0000 50%),
    radial-gradient(at 90% 81%, #eddc7d 0, #0000 50%),
    radial-gradient(at 48% 6%, #caf198 0, #0000 50%),
    radial-gradient(at 74% 11%, #8dd1fc 0, #0000 50%),
    radial-gradient(at 97% 77%, #b380fa 0, #0000 50%),
    radial-gradient(at 61% 86%, #56e16d 0, #0000 50%);
}
