@import 'tailwindcss';

@font-face {
  font-family: 'Nunito';
  src: url('/Nunito-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family:
    Nunito,
    ui-sans-serif,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial;
}

.mesh {
  background-color: #ff99d8;
  background-image:
    radial-gradient(at 33% 88%, #cd67e9 0, #0000 50%),
    radial-gradient(at 28% 16%, #78cbdd 0, #0000 50%),
    radial-gradient(at 90% 81%, #eddc7d 0, #0000 50%),
    radial-gradient(at 48% 6%, #caf198 0, #0000 50%),
    radial-gradient(at 74% 11%, #8dd1fc 0, #0000 50%),
    radial-gradient(at 97% 77%, #b380fa 0, #0000 50%),
    radial-gradient(at 61% 86%, #56e16d 0, #0000 50%);
}

h1 span {
  display: inline-block;
  vertical-align: baseline;
  margin: 0 -0.18em;
}

:root {
  --white: #fff;
  --red: #ca1f0e;
  --blue: #3251ac;
}

#postcard.stripes {
  background-image: linear-gradient(
    135deg,
    var(--red) 11.11%,
    var(--white) 11.11%,
    var(--white) 25%,
    var(--blue) 25%,
    var(--blue) 36.11%,
    var(--white) 36.11%,
    var(--white) 50%,
    var(--red) 50%,
    var(--red) 61.11%,
    var(--white) 61.11%,
    var(--white) 75%,
    var(--blue) 75%,
    var(--blue) 86.11%,
    var(--white) 86.11%,
    var(--white) 100%
  );
  background-size: 127.28px 127.28px;
}

.form-input {
  @apply text-sm sm:text-xl
  font-bold tracking-wide 
  border-none bg-transparent focus:outline-0 focus:bg-yellow-100 rounded-lg
  placeholder-rose-600 focus:placeholder-transparent visited:placeholder-transparent;
}
