---
permalink: /
scripts: assets-inline/home.js
styles: assets-inline/home.css
---
<!doctype html>
<html lang="en"> 
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    
    <meta name="theme-color" content="{{ bgcolor }}">

    {% metagen
      title="Tyler Campbell",
      name="Tyler Campbell",
      desc="Tyler Campbell is making things in the beautiful state of Georgia.",
      url="https://www.tyler.camp" + page.url,
      img="https://www.tyler.camp/ogimage-ty-memoji-01.jpg",
      img_alt="Tyler Campbell",
      generator="eleventy",
      twitter_card_type="summary_large_image"
    %}

    <link href="/assets/global.css" rel="stylesheet"/>
    <script src="/assets/global.js" defer></script>
  
  </head>

  <body style="background-color: rgb(110, 189, 223)">

<main class="relative w-full h-screen grid place-items-center px-4">

  <video autoplay loop muted playsinline class="absolute object-cover w-full h-full top-0 left-0 blur-md" fetchpriority="high" ><source src="/clouds.mp4" type="video/mp4" />Your browser does not support the video element.</video>
  <div class="absolute mesh w-full h-full top-0 left-0 opacity-75"></div>

  <div id="contact" class="relative w-full -mt-12">
    <h1 class=" text-6xl font-black text-center text-rose-600">Tyler Campbell</h1>
    <p id="prompt" class="text-xl sm:text-2xl text-orange-900 font-bold text-center w-full py-4 tracking-wider">Send this card to <span class="text-orange-600">Tyler</span>?</p>
      <div id="postcard" class="
        w-full max-w-2xl mx-auto p-3 aspect-[1.58] stripes shadow-2xl shadow-purple-900">

        <form 
          name="contact" 
          method="POST" 
          action="/#contact" 
          netlify-honeypot="bot-field"
          data-netlify="true" 
          class="relative h-full flex flex-col justify-between py-4 px-8 bg-white"
          >
          <p class="hidden">
            <label>
            Don’t fill this out if you’re human: <input name="bot-field" />
          </label>
          </p>
          <label for="message" class="text-sm sm:text-xl font-bold tracking-wider">Dear Tyler,</label>
          <textarea id="message" name="message" placeholder="u have a nice page" rows='3' data-min-rows='3' class="
            text-center font-bold text-sm sm:text-xl border-none bg-transparent placeholder-rose-600 focus:ring-0 tracking-wider resize-none autoExpand "></textarea>
          <div class="place-self-end -mr-5 ">
            <label for="sender" class="font-bold tracking-wider -mr-2 cursor-default text-sm sm:text-xl">From</label>
            <input id="sender" name="sender" placeholder="Your name" type="text" class="
              pt-px placeholder-rose-600
              text-sm sm:text-xl
              min-w-[6ch] w-[12ch] max-w-sm
              font-bold  tracking-wide border-none bg-transparent focus:ring-0"> 
          </div>
          <button id="submit" disabled type="submit" class="
            absolute bottom-[-84px] right-4 rotate-6
            px-8 py-2 rounded-full cursor-pointer
            font-bold text-white sm:text-2xl 
            disabled:cursor-not-allowed disabled:shadow-transparent disabled:opacity-50
            bg-teal-500 border-transparent shadow-teal-700 shadow-xl border-4  
            enabled:hover:bg-gradient-to-br enabled:hover:from-teal-400 enabled:hover:to-teal-600 enabled:hover:border-teal-300 
            focus:bg-teal-600 focus:border-teal-300
            ">
            OK!
          </button>
        </form>

        <aside id="success" class="hidden w-full h-full place-items-center bg-white relative">
          <p class="absolute rotate-12 right-0 top-0  sm:top-2 sm:right-2 text-7xl sm:text-8xl text-rose-300">☺</p>
          <div class="-rotate-6">
            <p class="text-xl sm:text-2xl text-blue-600 font-bold text-center w-full py-4 tracking-wider">Hey thanks!</p>
          </div>
        </aside>

      </div>
  </div>

</main>

<p class="-z-50 absolute bottom-4 block w-full text-center text-xs">
  <a class="text-transparent" rel="me" href="https://fosstodon.org/@tylercampbell">tylercampbell@fosstodon.org</a>
  <a class="text-transparent" rel="me" href="https://mastodon.social/@tylerscramble">tylerscramble@mastodon.social</a>
</p>

  </body>

</html>